html, body{
    background-color: silver;
}

h1 {
    background-color: rgb(131, 224, 212);
    text-align: center;
  }

.c{
    display: none;
    width: 10rem;   
}

.pd{
    display: table;
    padding-left: 100px;
    padding-right: 20px;
}

.pl{
    display: table;
    padding-left: 100px;
    padding-right: 50px;
}